* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    font-family: Calibri, sans-serif;
    background: #d1d1c7;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 2000px 150px;
    grid-row-gap: 20px;

}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(images/bg.jpg) no-repeat;
    background-size: cover;
    min-height: 500px;
    border-bottom: 3px solid black;

}

.logo {
    grid-column: 1/3;
    margin: auto;

}

.logo a {
    text-decoration: none;
    font-size: 36px;
    color: white;
}

.logo h3 {
    font-weight: 600;
    text-transform: uppercase;
}


nav {
    grid-column: 5/7;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 36px;
}

nav ul {
    color: aqua;
}



nav ul li {
    display: inline;
    color: white;
    font-weight: 600;
    text-transform: uppercase;

}

nav ul a {
    text-decoration: none;
}


nav li:hover {
    color: aqua;
}

.welcome {
    grid-column: 3/5;
    text-align: center;
    margin: auto;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.welcome h1 {
    font-weight: 1y00;

}

main {
    grid-area: main;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 50px 1fr 50px 1000px;

}

.first {
    grid-column: 1/7;
    border-bottom: 2px solid black;

}

.second {
    grid-column: 1/3;
    text-align: center;
    border: 1px solid black;
}

.second p {
    text-align: left;
    margin: 5%;;
}

.second  a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.third {
    grid-column: 3/5;
    text-align: center;
    border: 1px solid black;
}

.third p {
    text-align: left;
    margin: 5%;;
}

.third  a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.fourth {
    grid-column: 5/7;
    text-align: center;
    border: 1px solid black;
}

.fourth p {
    text-align: left;
    margin: 5%;;
}

.fourth  a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

article h1 {
    text-align: center;
    font-size: 40px;
}

article p {
    margin: 2%;
    font-size: 24px;
    text-align: center;
}

#projects {
    text-align: center;
    grid-column: 1/7;
}

#cv {
    text-align: center;
    grid-column: 1/7;
}

.cv {
    grid-column: 1/7;
    width: 100%;
    height: 1000px;
}


footer {
    grid-area: footer;
    background: gray;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}

footer a {
    grid-column: 4/6;
    margin: auto;
}


footer svg {
    color: black;
}
