* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}


body {
    background: #282526;
}



a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    background: white;
    top: 30px;
    position: fixed;
    right: 15%;
    width: 100%;
    height: 20%;
    max-width: 1280px;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .15);

}

nav .logo {
    max-width: 10px;
    margin-left: 20px;
    width: 100%;
}

li {
    display: inline;
    text-align: left;

}

ul li {
    line-height: 2;
}

nav ul a {
    text-align: left;
    border-bottom: 5px solid rgba(226, 0, 56, 0);
    padding: 50px 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #121111;
}

nav ul a li {
    font-size: 1.8rem;
    font-family: "Open Sans Condensed", sans-serif;
}

.form-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.contact-right {
    position: absolute;
    right: 10%;
    top: 50%;
    background: white;
    width: 40%;
    height: 800px;
    padding: 40px;
    box-shadow: -20px 3px 20px rgba(18, 17, 17, .16);
}


.contact-left {
    background: #0070e2;
    padding: 20px;
    color: white;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 70%;
}

.contact-left h2 {
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
    font-size: 4.6rem;
}

 .contact-left p {
    font-weight: 400;
    margin-right:10%;
    margin-bottom: 1em;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

 .contact-right form label {
    font-size: 2rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

 .contact-right form input {
    font-size: 2rem;
    outline: 0;
    border: none;
    padding: 20px 10px;
    border-bottom: 2px solid #e20038;
    transition: all .5s ease;
}


.contact-right form textarea {
    resize: none;
    border: none;
    border-bottom: 2px solid #e20038;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    padding: 20px 20px;

}

 button {
    padding: 20px;
    font-size: 2rem;
     font-family: "Open Sans", sans-serif;
     border: none;
     font-weight: 800;
     text-align: left;
     text-transform: uppercase;
     color: white;
     background: #e20038;
     cursor: pointer;
}

.arm {
    width: 20%;
}
